body {
    background-color: lightblue;
    text-align: center;
    font-family:Verdana sans-serif;
    font-size: 18px;
}

#development {
    top: 10px;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    border: 2px grey solid;
    max-width: 500px;
    max-height: 500px;
}

#submit {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    padding-top: auto;
}