<body bgcolor="#FFFFFF" leftmargin="40" topmargin="0" marginwidth="0" marginheight="0">
<div>
    <br/>
    <table style="width: 800px;">
        <tbody>
        <tr>
            <td rowspan="2" width="334" height="497" align="left" valign="top">
                <table style="width: 450px;">
                    <tbody>
                    <tr>
                        <h1>Имя: "$name"</h1>
                        <h1>Мыло: $to</h1>
                        <h1>Тема: $subject</h1>
                        <h1>Сообщение: $message</h1>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>